.StyledContainer{
	padding: 25px 12px 18px;
	background-color: #fff;
	width: 300px;
	height: 400px;
	font-size: 12px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.StyledContainer > img{
	border: 1px solid #ccc;
}

@media (max-width: 500px) {
	.title{
    	font-size: 1rem;
	}
}

.image_individual{
		height: 250px;
		width: 200px;
}


@media screen and (max-width: 960px){
	.image_individual{
		height: 200px;
		width: 150px;
	}

	.StyledContainer{
		width: 250px;
		height: 350px;
		font-size: 9px;
		text-align: center;
	}

}